body {
    background: #f9e933; 
    /* width: 855px;
    margin: auto;   */
}
a:hover {
    cursor: pointer; /*мое дополнение*/
}

header, main, footer {
    min-width: 850px;
}
header {
    background: white;
}
main {
    background: white;
}
header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}