body {    
    font-family: 'Noto Sans', sans-serif;    
}
a:hover {
    cursor: pointer; /*мое дополнение*/
}
ul {
    list-style-position: inside;
    list-style-type: circle;
    font-size: 50%; 
}
p {
    font-size: 80%;
    line-height: 1.1;    
}

header, main, footer {
    min-width: 855px;
}
h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif;    
}

header {
    background: white;
    overflow: auto;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}    
    header h1 {
        float: left;
        
        width: 540px;
        font-size: 295%;
        font-weight: 400;
        font-style: italic; 
        padding-top: 18px;
        padding-bottom: 18px;       
    }
    header nav {
        float: right;

        width: 255px; 
        padding-top: 20px;                       
    }
        header nav a {
            color: #222;
            font-weight: 700;
            text-decoration: none;
            font-size: 90%;
        }

main {
    padding-bottom: 30px;
    background: white;
    overflow: auto;
}    
    header .container, main .container, footer .container {
        max-width: 855px;
        padding: 0 30px;
        margin: auto;    
    }
    main .container {
        padding-top: 30px;        
    }
        .main-left {
            float: left;

            width: 540px;           
        }
            main h2 {
                font-size: 155%;
                margin-bottom: 8px;
            }
            main h3 {
                font-size: 105%;
                margin-bottom: 5px;
            }
            main p {                
                margin-bottom: 20px;                
            }
            main li {
                font-size: 150%;
            }
        .main-right {
            float: right;

            width: 255px;            
        }
            .main-right img {
                padding-left: 50px;
            }

 footer {
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: #ccc;
    overflow: auto;
 }
    footer h5 {
        font-weight: 400;
        font-size: 110%;
        margin-bottom: 15px;
    } 
    footer .contact {
        float: left;
        width: 540px;
    }    
        .contact p span {
            font-style: italic;
            font-weight: 400;
        }  
    footer .sitemap {
        float: right;
        
        width: 255px;
    }
        .ul-left {
            float: left;
        } 
        .ul-right {
            float: right;
        }        
            .sitemap ul li {
                list-style-type: none;
                line-height: 1.1; 
                font-size: 160%;           
            }                
                .sitemap ul li a {
                    text-decoration: none;
                    color: #222;
                    font-weight: 700;                                                    
                }    
        
             

